<h1>New Book Review</h1>

<%= render "form", review: @review %>

<%= form_with model: @review do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <% @review.errors.full_messages_for(:title).each do |message| %>
            <div><% message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
        <% @review.errors.full_messages_for(:review).each do |message| %>
            <div><% message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>